###############################################################################
# PRINTER.CFG - SAMPLE CONFIG FILE FOR MONITORING A NETWORK PRINTER
#
# Last Modified: 10-03-2007
#
# NOTES: This config file assumes that you are using the sample configuration
#	 files that get installed with the Nagios quickstart guide.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITIONS
#
###############################################################################
###############################################################################

# Define a host for the printer we'll be monitoring
# Change the host_name, alias, and address to fit your situation
#EXAMPLE
#define host{
#	use		generic-printer		; Inherit default values from a template
#	host_name	Canon-1f		; The name we're giving to this printer
#	alias		HP Color LaserJet M750	; A longer name associated with the printer
#	address		133.40.144.151		; IP address of the printer
#	hostgroups	color-printers 		; Host groups this printer is associated with
#	}

define host{
	use		generic-switch		; Inherit default values from a template
	host_name	pa-fw-summit			; The name we're giving to this printer
	address		133.40.169.50		; IP address of the printer
	hostgroups	firewalls 		; Host groups this printer is associated with
	}

define host{
	use		generic-switch		; Inherit default values from a template
	host_name	pa-fw-base			; The name we're giving to this printer
	address		133.40.148.49		; IP address of the printer
	hostgroups	firewalls 		; Host groups this printer is associated with
	}

define host{
	use		generic-switch		; Inherit default values from a template
	host_name	pa-fw-hp			; The name we're giving to this printer
	address		133.40.173.253		; IP address of the printer
	hostgroups	firewalls 		; Host groups this printer is associated with
	}


###############################################################################
###############################################################################
#
# HOST GROUP DEFINITIONS
#
###############################################################################
###############################################################################

# A hostgroup for network printers

define hostgroup{
	hostgroup_name	firewalls	; The name of the hostgroup
	alias		Firewalls	; Long name of the group
	}


###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################

# Create a service for monitoring the status of the printer
# Change the host_name to match the name of the host you defined above
# If the printer has an SNMP community string other than "public", change the check_command directive to reflect that


# Create a service for "pinging" the printer occassionally.  Useful for monitoring RTA, packet loss, etc.

define service{
	use			generic-service
	hostgroup_name		firewalls
	servicegroups		ping-group
	service_description	PING
	check_command		check_ping!3000.0,80%!5000.0,100%
	normal_check_interval	10
	retry_check_interval	1
        }


###############################################################################
###############################################################################
#
# SERVICE GROUP DEFINITIONS
#
###############################################################################
###############################################################################

# A hostgroup for network printers

#define servicegroup{
#	servicegroup_name	ping-group	; The name of the hostgroup
#	alias			Check Host	; Long name of the group
#	}


